<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appinfo.dao.app.AppMapper">
    <insert id="addApp">
        insert into app_info(softwareName, APKName,
                             supportROM, interfaceLanguage,
                             softwareSize, updateDate, devId,
                             appInfo, status, onSaleDate,
                             offSaleDate, flatformId,
                             categoryLevel3, downloads, createdBy,
                             creationDate, logoPicPath,
                             logoLocPath, versionId)
        values (#{softwareName}, #{APKName}, #{supportROM}
            #{interfaceLanguage}, #{softwareSize}, #{updateDate}
                    #{devId}, #{appInfo}, #{status}
                    #{onSaleDate}, #{offSaleDate}, #{flatformId}
                    #{categoryLevel3}, #{downloads}, #{createdBy}
                    #{creationDate}, #{logoPicPath}, #{logoLocPath}
                    #{versionId})
    </insert>
    <update id="updateApp">
        update app_info
        set softwareName      = #{softwareName},
            APKName           = #{APKName},
            supportROM        = #{supportROM},
            interfaceLanguage = #{interfaceLanguage},
            softwareSize      = #{softwareSize},
            updateDate        = #{updateDate},
            devId             = #{devId},
            appInfo           = #{appInfo},
            status            = #{status},
            onSaleDate        = #{onSaleDate},
            offSaleDate       = #{offSaleDate},
            flatformId        = #{flatformId},
            categoryLevel3    = #{categoryLevel3},
            downloads         = #{downloads},
            modifyBy          = #{modifyBy},
            modifyDate        = #{modifuDate},
            logoPicPath       = #{logoPicPath},
            logoLocPath       = #{logoLocPath},
            versionId         = #{versionId}
        where id = #{id}
    </update>
    <delete id="deleteApp">
        delete
        from app_info
        where id = #{id}
    </delete>

    <select id="getAppList" resultType="AppInfo">
        select i2.*, d.valueName statusName
        from (SELECT i.*,
                     v.versionNo
              FROM `app_info` i
                       LEFT JOIN app_version v on
                  i.versionid = v.id) i2
                 left join data_dictionary d
                           on d.typeCode = 'APP_STATUS' and d.valueId = i2.status

    </select>


</mapper>