<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.appinfo.dao.user.UserMapper">


    <select id="getBackendUser" resultType="com.appinfo.pojo.BackendUser">
        select *
        from backend_user
        where userCode = #{userCode}
          and userPassword = #{userPassword}
    </select>
    <select id="getDevUser" resultType="com.appinfo.pojo.DevUser">
        select *
        from dev_user
        where devCode = #{devCode}
          and devPassword = #{devPassword}
    </select>

</mapper>